* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font-family: "Muli", sans-serif;
 

}

body, .grid, header, .photo-header, .hidden, main {
  min-width: 250px;
}

.nav-wrapper {
  display: grid;
  grid-template-columns:  100px 1fr;

}

.book-nav {
  display: grid;
  justify-content: center;
  align-items: center;
  background: white;
}

span {
  font-size: 7vw;
  font-weight: bold;
}

/* header */



header {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgba(89, 138, 172, 0.5);
}

.header-logo {
  height: 60px;
  display: block;
}

.photo-header {
  width: 100vw;
  display: block;
 }

 *,
 *:before,
 *:after {
   box-sizing: border-box;
   font-size: 25px;
   line-height: 50px;
 }
 
 label:before {
   display: flex;
   content: "Menu";
   width: 100px;
   height: 50px;
   background-color: white;
   padding-left: 18px;
   border-right: solid 1px #ccc;
   font-weight: bold;
 }
 
 #toggle:checked + label:before {
   content: "Close";
 }
 
 .hidden {
   display: none;
 }
 
 #toggle:checked ~ .hidden {
   display: block;
 }
 
 
 #toggle {
   display: none;
 }
 
 ul {
   position: absolute;
   margin-top: 100px;
   width: 100%;
 }
 
 li {
   list-style-type: none;
   background-color: rgba(62, 92, 113, 0.8);
   border: solid 1px rgb(187, 183, 183);
   border-collapse: collapse;
   width: 100%;
   height: 50px;
   text-align: center;
 }
 
 li:hover {
   background-color: rgba(39, 56, 68, 0.8);
 }
 
 a {
   text-decoration: none;
   color: rgb(13, 29, 252);
   font-size: 25px;
   padding: 15px;
   user-select: none;
 }
 
 a:visited {
   color: #ece3e3;
 }
 a:active {
   color: #a4a4b8;
 }

 /* MAIN BLOCK */

 .about-hotel {
  background: gold;

 }

 main {
  max-width: 100vw;
 }

 .about-hotel {
  background: #fff;
  margin: 30px 0px;
  max-width: 100vw;
  
 }

 .about-hotel-img {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 85vw;
  margin: 0px auto;
  
 }

 h1 {
  font-size: 8vw;
  padding: 10px 15px;
  font-weight: bold;
  line-height: 12vw;
 }

 h2 {
  font-size: 8vw;
  padding: 0px 15px;
  font-weight: bold;
 }

 p {
  font-size: 6vw;
  padding: 15px;
  font-family: Amiko;
  font-weight: 400;
  line-height: 8vw;
 }

 footer {
  background: #000;
  color: #fff;
  text-align: center;
 }


 