* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, .grid, header, .photo-header {
  min-width: 250px;
}


@media only screen and (max-width: 420px) {
  body {
    background-color: lightblue;
  
  }
}

/* header */



header {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgba(89, 138, 172, 0.5);;
}

.header-logo {
  height: 60px;
}

.photo-header {
  width: 100vw;
  
 }